* {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html, body {
    max-width: 100%;
    min-width: 49em;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  

}

}

header {
  padding: 20px 0;
  background-color: #444133;
    display: flex;
  background-size: cover;
}



button:focus {outline:0!important;}
button:active { border-style: outset!important;}
#hello {
  margin-top: -55%;
  color: transparent;
  display: hidden;
  text-decoration: none;
}

#hello:hover {
  color: white;
  display: visible;
  text-decoration: none;
}

.col-sm-4 a:hover {
  text-decoration: none;
}

.col-sm-4 {
  width: auto;
}


.col-sm-8 {
  margin-left: 0.2em;
  
}

header .row,
footer .row {
  display: flex;

  
}

header h1 {
  font-weight: 700;
  margin: 0;
}


#bulb {
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Georgia";
  font-size: 1.2em;
  
  display: inline-flex;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: 0.3s;
  box-sizing: content-box;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  
  border-radius: 0;
  
  
}

nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;
  margin-bottom: 0px;
  border-bottom: 4px solid black;
}

nav a:hover {
  text-decoration: none;
}



header nav {
  display: flex;
  justify-content: flex-end;


}

header p {
  padding: 0 20px;
  margin: 0;
}
.blur-not {
	-webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
  transition: 0.5s ease all;
  
  
}
.blur-filter {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  
	}



.popup-call-contact-show {
  opacity:1;
  transform:scale(1);
  transition: 0.5s ease all;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1479142506502-19b3a3b7ff33?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

#main {
  padding-right: 0.5em;
  padding-bottom: 1.5em;
}
#main1,#main2,#main3,#main4,#main5 {
  overflow: hidden;
  border:1px solid #333;
}
#main1:hover,#main2:hover,#main3:hover,#main4:hover,#main5:hover {
  
}

.imgdiv {
  box-sizing: border-box;
  height: auto;
  
  background-color: transparent;
  overflow: hidden;
  
  max-width:100%;
  
  padding-right: 5em;
  

}
.imgdiv p {
  font-size: 1em;
  color: black;
  text-align: center;
  
  
}

.imgdiv img {
  font-size: 6vh;
  width: 100%;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.imgdiv img:hover  {
  -moz-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);

}


.btn-nav {
  border-radius: 0;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
  color: rgb(140,140,140);
}

.footerkontakt {
  margin-right: -1.67em;
}


  .col-sm-12 a .lasis {
  font-family: "Roboto";
  font-size: 1.4em;
  display: inline-flex;
  white-space: nowrap;
  color:white;
  margin-top: 1em;
  }

.lasis:hover {
  text-decoration: none;
  opacity: 0.7;
  
}



.col-sm-12 a:hover {
  text-decoration: none;
  color: #666 !important;
 

}

.dropbtn {
  
  font-size: 1.2em;
  border:none;
  display: inline-flex;
  white-space: nowrap;
  
  font-family: "Georgia";

  
  
}

button:focus {outline:0;}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: -2px;
    font-family: "Roboto";



    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 3px solid black;
    margin-top: 0.01em;
    font-family: "Roboto";

}

.dropdown-content a {
    color: black;
    padding: 0.4em 0.5em;
    text-decoration: none;
    display: flex;
    box-sizing: content-box;
    font-family: "Roboto";
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-bottom: 4px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    
    opacity: 1 !important;
    
    border-bottom: 4px solid black;
    box-sizing: content-box;
    margin-bottom: 0;
}

#main {
  font-family: "Georgia";
  
  font-size: 2em;
  


  
}
.container {
  padding: 0;
  margin:0;
}


.second-row {
  
}



footer {
  font-size: 1.5em;
  font-family: "Roboto";
  padding: 20px 0;
  border-radius: 2px;
  color: white;
  height: 4em;
  text-shadow: none;
  background-color: #742e25;
  margin-top: 3em;
  display: flex;
  background-size: cover;
  position: absolute;
  bottom: -8em;
  width: 100%;
  margin-bottom: 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  float: right;
}


footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.popup-call-contact {
  position:fixed;
  text-align:left;
  z-index:9999;
  margin:auto;
  clear:both;
  height:50%;
  width:60%;
  padding:15px;
  border:2px solid gray;
  left:0;
  right:0;
  top:0;
  bottom:0;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  background:#fff;
  opacity:0;
  transform:scale(0);
  transition: 0.5s ease all;
}
.popup-call-contact-show {
  opacity:1;
  transform:scale(1);
  transition: 0.5s ease all;
}

.popup-all {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
}
.close-contact:before{
  content: '✕';
  font-size: 1.8em;
}
.close-contact {
  position: absolute;
  top: -0.3em;
  right: 0.2em;
  cursor: pointer;
}
.form, .popup-text{
  float:left;
  width:50%;
}
.form{
  width:50%;
  padding-right:0;
  font-size: 1.5em;
}
.popup-text p{
  
  font-size: 1.5em;
}


.form textarea{
  border:1px solid;
  width:95%;
  padding:8px;
  font-size:16px;
  height: 6em;
  margin-bottom:10px;
}
.form input[type="text"], .form input[type="email"] {
  font-size:16px;
  margin-bottom:10px;
  padding:8px;
  width:95%;
}


.form input[type="submit"]{
  background:#ce2a2a;
  border:0;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  padding:10px;
}
.form input[type="submit"]:hover {
  background:#ce2a2a;
  border:0;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  padding:10px;
  opacity: 0.9;
}
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
  min-height: 13em;
  text-align: center;

}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;

}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}

/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}


/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

