html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

}

header {
  padding: 20px 0;
  background-color: #444133;
    display: flex;
  background-size: cover;
}



#hello {
  margin-top: -55%;
  color: transparent;
  display: hidden;
  text-decoration: none;
}

#hello:hover {
  color: white;
  display: visible;
  text-decoration: none;
}

.col-sm-6 a:hover {
  text-decoration: none;
}

.col-sm-8 {
  margin-left: 0.2em;
  
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

#bulb {
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Roboto";
  font-size: 1.8em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: 0.3s;
}

nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;
}

nav a:hover {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.kurs:hover {
  
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?dpr=1&auto=compress,format&fit=crop&w=841&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.col-sm-6 {
  font-family: "Roboto";
  color: black;
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s;
  transition: 0.3s;
}

.col-sm-6:hover {
  opacity: 0.9;
  box-sizing: border-box;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
	color: rgb(140,140,140);
}

#secondary:hover {
  
  color: black;
}

#secondary {
  background-color: #b7d2ff;
  color: gray;
  margin: 0 0 30px;
  font-family: "Roboto", sans-serif;
  margin-top: 2em;
  font-size: 1.5em;
  
}

footer {
  font-size: 1.5em;
  font-family: "Roboto";
  padding: 20px 0;
  border-radius: 2px;
  color: white;
  text-shadow: none;
  background-color: rgb(114, 76, 63);
  margin-top: 3em;
  display: flex;
  background-size: cover;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  float: right;
}


footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}