html, body {
    max-width: 100%;
    min-width: 49em;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  

}

}

header {
  padding: 20px 0;
  background-color: #444133;
    display: flex;
  background-size: cover;
}



#hello {
  margin-top: -55%;
  color: transparent;
  display: hidden;
  text-decoration: none;
}

#hello:hover {
  color: white;
  display: visible;
  text-decoration: none;
}

.col-sm-6 a:hover {
  text-decoration: none;
}


.col-sm-8 {
  margin-left: 0.2em;
  
}

header .row,
footer .row {
  display: flex;

  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

#bulb {
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Georgia";
  font-size: 1.2em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: 0.3s;
  box-sizing: content-box;
  margin-bottom: 4px;
  margin-left: 4px;
}

nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;
  margin-bottom: 0px;
  border-bottom: 4px solid black;
}

nav a:hover {
  text-decoration: none;
}



header nav {
  display: flex;
  justify-content: flex-end;

}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?dpr=1&auto=compress,format&fit=crop&w=841&h=&q=80&cs=tinysrgb&crop=');
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.col-sm-6 {
  font-family: "Georgia";
  color: black;
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s;
  transition: 0.3s;
}

.col-sm-6:hover {
  opacity: 0.9;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
	color: rgb(140,140,140);
}

#secondary:hover {
  
  border: 1px solid black;
}

#secondary {
  background-color: #b7d2ff;
  color: black;
  margin: 0 0 30px;
  font-family: "Roboto", sans-serif;
  margin-top: 2em;
  font-size: 1.5em;
  
}

.dropbtn {
  
  font-size: 1.2em;
  border:none;
  display: inline-flex;
  white-space: nowrap;
  
  font-family: "Georgia";

  
  
}

button:focus {outline:0;}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: -2px;
    font-family: "Roboto";



    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 3px solid black;
    margin-top: 0.01em;
    font-family: "Roboto";

}

.dropdown-content a {
    color: black;
    padding: 0.4em 0.5em;
    text-decoration: none;
    display: flex;
    box-sizing: content-box;
    font-family: "Roboto";
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-bottom: 4px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    
    opacity: 1 !important;
    
    border-bottom: 4px solid black;
    box-sizing: content-box;
    margin-bottom: 0;
}

footer {
  font-size: 1.5em;
  font-family: "Roboto";
  padding: 20px 0;
  border-radius: 2px;
  color: white;
  height: 4em;
  text-shadow: none;
  background-color: rgb(114, 76, 63);
  margin-top: 3em;
  display: flex;
  background-size: cover;
  position: absolute;
  bottom: -8em;
  width: 100%;
  margin-bottom: 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  float: right;
}


footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}