html, body {
    max-width: 100%;
    min-width: 49em;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}

}

header {
  padding: 20px 0;
}

#success_message { 
  display: none;
}

.col-sm-8 {
  margin-left: 0.2em;
  
}

.col-sm-3 {
    font-family: "Roboto";
    font-size: 0.0001em;
    text-align: center;

}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

.arg {
  border-bottom: 3px double #8080ff;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.slut {
  border-bottom: none;
}

.col-sm-9 a, .col-sm-12 a .lasis, .col-sm-12 a .bokis {
  color: black;
}

.col-sm-9 a:hover, .col-sm-12 a .bokis:hover, .col-sm-12 a .lasis:hover {
  text-decoration: none;
  color: black;
  color: #666666;
}

.col-sm-12 a:hover {
  text-decoration: none;
  color: black;

}

#firstis {
  margin-top: 0;
}

.kursbild {
  margin-top: 0.9em;
}

.col-sm-9 .lasis, .col-sm-12 .lasis {
  font-family: "Roboto";
  font-size: 0.8em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  background-color: #b7d2ff;
}

.col-sm-9 .bokis, .col-sm-12 .bokis {
  font-family: "Roboto";
  font-size: 0.8em;
  display: inline-flex;
  white-space: nowrap;
  background-color: #db9a55;
  margin-left: 1em;

  
}


}

header h1 {
  font-weight: 700;
  margin: 0;
}

#pedagogik h1, #pedagogik h2 {
  font-size: 1em;
}

#bulb {
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Georgia";
  font-size: 1.2em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: 0.3s;
  box-sizing: content-box;
  margin-bottom: 4px;
  margin-left: 4px;
}


nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;
  margin-bottom: 0px;
  border-bottom: 4px solid black;


}

nav a:hover {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1437435409766-a478cc6da81a?auto=format&fit=crop&w=1267&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.title {
  display: flex;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: normal;
}


.half-title {
  white-space: nowrap;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.half-title-image {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid black;
}

.col-sm-9 {
    font-family: "Roboto";
    font-size: 1.8em;
    text-align: left;

}

.col-sm-12 {
    font-family: "Roboto";
    font-size: 1.8em;
    text-align: center;
}

.col-sm-12 h1 {
    font-family: "Roboto";
    font-size: 1.4em;
    text-align: center;
}

.argtext {
  font-family: "Roboto";
  font-size: 1.8em;
  text-align: left;
  position: relative left;
  left:28%;
}

.gladtext {
  font-family: "Roboto";
  font-size: 1.8em;
  text-align: left;

}

.col-sm-6:hover {
  opacity: 0.93;
  box-sizing: border-box;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
  color: rgb(140,140,140);
}

.btn-secondary:hover {
  background-color: rgb(152, 110, 103);
  color: #FFF;
}

.btn-secondary {
  background-color: rgb(117, 85, 79);
  color: rgb(256,256,256);
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#lank {
    font-family: "Georgia";
    font-size: 1.8em;
    text-align: center;
    
    color: white !important;
    text-decoration: none;
}

#lank:hover {
  text-decoration: none;
  color: white;
  opacity: 0.9;
}

#pedagogik {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.8em;
}

.dropbtn {
  
  font-size: 1.2em;
  border:none;
  display: inline-flex;
  white-space: nowrap;
  
  font-family: "Georgia";
  position:relative;
}

p:focus {outline:0;}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: -2px;
    font-family: "Roboto";
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 3px solid black;
    margin-top: 0.01em;
    font-family: "Roboto";

}

.dropdown-content a {
    color: black;
    padding: 0.4em 0.5em;
    text-decoration: none;
    display: flex;
    box-sizing: content-box;
    font-family: "Roboto";
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-bottom: 4px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    
    opacity: 1 !important;
    
    border-bottom: 4px solid black;
    box-sizing: content-box;
    margin-bottom: 0;
}

#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: "Roboto";
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.bokatext {
  text-align: left;
}

.bokatext h3 {
  border-top: 3px double rgb(114, 76, 63) ;
  padding-top: 1em;
}



footer {
  font-size: 1.5em;
  font-family: "Roboto";
  padding: 20px 0;
  border-radius: 2px;
  color: white;
  height: 4em;
  text-shadow: none;
  background-color: #8080ff;
  margin-top: 3em;
  display: flex;
  background-size: cover;
  position: absolute;
  bottom: -8em;
  width: 100%;
  margin-bottom: 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  float: right;
}



footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}