html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

}

header {
  padding: 20px 0;
}

.col-sm-8 {
	margin-left: 0.2em;
  
}

.col-sm-3 {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;

}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

.arg {
  border-bottom: 3px double rgb(114, 76, 63);
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.slut {
  border-bottom: none;
}

.col-sm-9 a, .col-sm-12 a {
  color: black;
}

.col-sm-9 a:hover, .col-sm-12 a:hover {
  text-decoration: none;
  color: black;
  color: #666666;
}

#firstis {
  margin-top: 0;
}

.kursbild {
  margin-top: 0.9em;
}

.col-sm-9 .lasis {
  font-family: "Roboto";
  font-size: 0.8em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  background-color: #b7d2ff;
}

.col-sm-9 .bokis, .col-sm-12 .bokis {
  font-family: "Roboto";
  font-size: 0.8em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  background-color: #db9a55;
  margin-left: 1em;
  
}

header h1 {
  font-weight: 700;
  margin: 0;
}

#bulb {
	margin-top:0.2em;
	margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Roboto";
  font-size: 1.8em;
  margin-left: 0;
  display: inline-flex;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: 0.3s;
}

nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;

}

nav a:hover {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?w=1350&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.title {
  display: flex;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  font-weight: normal;
}

.half-title {
  white-space: nowrap;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.half-title-image {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid black;
}

.col-sm-9 {
	  font-family: "Roboto";
	  font-size: 2em;
	  text-align: left;

}

.col-sm-12 {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;
}


.col-sm-6:hover {
	opacity: 0.93;
	box-sizing: border-box;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
	color: rgb(140,140,140);
}

.btn-secondary:hover {
  background-color: rgb(152, 110, 103);
  color: #FFF;
}

.btn-secondary {
  background-color: rgb(117, 85, 79);
  color: rgb(256,256,256);
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#lank {
    font-family: "Roboto";
    font-size: 2.5em;
    text-align: center;
    background-color: rgb(117, 85, 79) ;
    color: white !important;
    text-decoration: none;
}

#lank:hover {
  text-decoration: none;
  color: white;
  opacity: 0.9;
}

footer {
  font-size: 1.5em;
  font-family: "Roboto";
  padding: 20px 0;
  border-radius: 2px;
  color: white;
  text-shadow: none;
  background-color: rgb(114, 76, 63);
  margin-top: 3em;
  display: flex;
  background-size: cover;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  float: right;
}



footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}