html, body {
    max-width: 100%;
    min-width: 49em;
}

html {
  position:relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}

}

header {
  padding: 20px 0;
}

button:focus {outline:0!important;}
.col-sm-8 {
  margin-left: 0.2em;
 

}
.blur-not {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
  transition: 0.5s ease all;
  
  
}
.webmaster {
  font-size: 0.8em;
  background-color: orange;
  
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}
.blur-filter {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  
  }


.info .col-sm-8 {
    font-family: "Roboto";
    font-size: 1.8em;
    text-align: left;
    float:left;

}

.footerkontakt {
  margin-right: -1.67em;
}

.info img {
  border: 1px solid black;
  border-radius: 7px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.col-sm-10 {
    font-family: "Roboto";
    font-size: 1.5em;
    text-align: left;
    float:left;
    margin-top: 3em;
}


header h1 {
  font-weight: 700;
  margin: 0;
}

#bulb {
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

nav .btn-nav {
  font-family: "Georgia";
  font-size: 1.2em;
  
  display: inline-flex;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  transition: 0.3s;
  box-sizing: content-box;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  
  border-radius: 0;
 
  
}


nav .btn-nav:hover {
  color: rgb(0,0,0);
  opacity: 1 !important;
  margin-bottom: 0px;
  border-bottom: 4px solid black;

}

nav a:hover {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://i.imgur.com/Sv0smhC.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.col-sm-6 {
  font-family: "Roboto";
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
}

.col-sm-6:hover {
  opacity: 0.93;
  box-sizing: border-box;
}

.col-sm-12, .col-sm-7 {
    font-family: "Roboto";
    font-size: 1.8em;
    border-top: 3px double #742e25;
    padding-top: 1em;
}

.col-sm-12 h2, .col-sm-7 h2 {
  font-weight: bold;
  font-size: 1.1em;
}

section .row img {
  margin: 0 0 4em;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn-nav {
  border-radius: 2px;
  border: 0px;
  color: rgb(0,0,0);
  text-shadow: none;
  background-color: #FFF;
}

.btn-nav:hover {
  color: rgb(140,140,140);
}

.btn-secondary:hover {
  background-color: rgb(152, 110, 103);
  color: #FFF;
}

.btn-secondary {
  background-color: rgb(117, 85, 79);
  color: rgb(256,256,256);
  margin: 30px 0 ;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.dropbtn {
  
  font-size: 1.2em;
  border:none;
  display: inline-flex;
  white-space: nowrap;
 
  font-family: "Georgia";
  position:relative;

  
  
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: -2px;
    font-family: "Roboto";


    
}

button:focus {outline:0;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 3px solid black;
    margin-top: 0.01em;
    font-family: "Roboto";

}

.dropdown-content a {
    color: black;
    padding: 0.4em 0.5em;
    text-decoration: none;
    display: flex;
    box-sizing: content-box;
    font-family: "Roboto";
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    margin-bottom: 4px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    
    opacity: 1 !important;
    
    border-bottom: 4px solid black;
    box-sizing: content-box;
    margin-bottom: 0;
}

footer {
  font-size: 1.5em;
  font-family: "Roboto";
  padding: 20px 0;
  border-radius: 2px;
  color: white;
  text-shadow: none;
  background-color: #742e25;
  margin-top: 3em;
  display: flex;
  background-size: cover;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  float: right;
}


footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
.popup-call-contact {
  position:fixed;
  text-align:left;
  z-index:9999;
  margin:auto;
  clear:both;
  border:2px solid gray;
  height:450px;
  width:60%;
  padding:15px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  background:#fff;
  opacity:0;
  transform:scale(0);
  transition: 0.5s ease all;
}
.popup-call-contact-show {
  opacity:1;
  transform:scale(1);
  transition: 0.5s ease all;
}

.popup-all {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
}
.close-contact:before{
  content: '✕';
  font-size: 1.8em;
}
.close-contact {
  position: absolute;
  top: -0.3em;
  right: 0.2em;
  cursor: pointer;
}
.form, .popup-text{
  float:left;
  width:50%;
}
.form{
  width:50%;
  padding-right:0;
  font-size: 1.5em;
}
.popup-text p{
  
  font-size: 1.5em;
}


.form textarea{
  border:1px solid;
  width:95%;
  padding:8px;
  font-size:16px;
  height: 6em;
  margin-bottom:10px;
}
.form input[type="text"], .form input[type="email"] {
  font-size:16px;
  margin-bottom:10px;
  padding:8px;
  width:95%;
}


.form input[type="submit"]{
  background:#ce2a2a;
  border:0;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  padding:10px;
}
.form input[type="submit"]:hover {
  background:#ce2a2a;
  border:0;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  padding:10px;
  opacity: 0.9;
}
